<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-aatsr-recalibration</symbolicName>
    <version>1.1</version>
    <name>AATSR Recalibration</name>
    <description>AATSR Recalibration</description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>
        Max Planck Str.2, 21502 Geesthacht (Germany)
    </contactAddress>
    <copyright>(C) 2007 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog/>
    
    <dependency>
        <module>beam-core</module>
    </dependency>
	<dependency>
        <module>beam-gpf</module>
    </dependency>
	 <dependency>
        <module>beam-visat</module>
        <optional>true</optional>
    </dependency>
	<dependency>
        <module>beam-envisat-reader</module>
    </dependency>

    <categories>Application,Processor,Synergy,MERIS,AATSR</categories>

    <extension point="beam-ui:actions">
        <action>
            <id>aatsrRecalibration</id>
            <helpID>aatsrRecalibration</helpID>
            <class>org.esa.beam.aatsrrecalibration.ui.RecalibrateAATSRReflectancesAction</class>
            <text>AATSR Recalibration ((A)ATSR)...</text>
            <parent>tools</parent>
        </action>
    </extension>
                
    <extension point="beam-ui:helpSets">
        <helpSet>
            <parent>beam-help</parent>
            <path>doc/help/aatsr-recalibration.hs</path>                            
        </helpSet>
    </extension>

</module>
