<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-aatsr-recalibration</symbolicName>
    <version>1.2.1</version>
    <name>AATSR Recalibration</name>
    <description>
        <![CDATA[
            <p>The purpose of the AATSR Recalibration processor is to perform appropriate nonlinearity and drift
            corrections on AATSR L1b products.</p>

            <p>Algorithm: D. Smith from Rutherford Appleton Laboratory, UK</p>
            <p>Software: O.Danne, Brockmann Consult</p>

            <p>Documentation:</p>
            <ul>
                <li><a href="http://github.com/downloads/bcdev/beam-aatsr-recalibration/Calibration%20Status%20of%20AATSR%20and%20MERIS%20Reflectance%20Channels%20(workshop%20presentation).pdf">Calibration Status of AATSR and MERIS Reflectance Channels (workshop presentation)</a></li>
                <li><a href="http://github.com/downloads/bcdev/beam-aatsr-recalibration/aatsrrecal-sum.pdf">Software User Manual (SUM)</a></li>
            </ul>
        ]]>
    </description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>
        Max Planck Str.2, 21502 Geesthacht (Germany)
    </contactAddress>
    <copyright>(C) 2007 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog>
        <![CDATA[
         <p>From 1.2 to 1.2.1:<br/>
          - copying masks from the source to the target product<br/>
         <p>From 1.1.3 to 1.2:<br/>
          - adapted to changes in BEAM 4.8<br/>
        ]]>
    </changelog>

    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>beam-gpf</module>
    </dependency>
    <dependency>
        <module>beam-visat</module>
        <optional>true</optional>
    </dependency>
    <dependency>
        <module>beam-envisat-reader</module>
    </dependency>

    <categories>Application,Processor,Synergy,MERIS,AATSR</categories>

    <extension point="beam-ui:actions">
        <action>
            <id>aatsrRecalibration</id>
            <helpID>aatsrRecalibration</helpID>
            <class>org.esa.beam.aatsrrecalibration.ui.RecalibrateAATSRReflectancesAction</class>
            <text>AATSR Recalibration ((A)ATSR)...</text>
            <parent>tools</parent>
        </action>
    </extension>

    <extension point="beam-ui:helpSets">
        <helpSet>
            <parent>beam-help</parent>
            <path>doc/help/aatsr-recalibration.hs</path>
        </helpSet>
    </extension>

</module>
